
body {

	margin: 0;

	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

body, textarea, input[type=submit] {
	font-family: "Roboto", sans-serif;
	font-size: 12pt;
	background-color: #111;
	color: #eee;
}

p {
	line-height: 1.4;
	margin-bottom: 2em;
}

a {
	color: #55cf55;
	text-decoration: none;
}

header, footer {
	background-color: #0d0d0d;
	padding: 15px 0;
}

header {
	font-size: 24pt;
	font-weight: bold;
	text-align: center;
}

.container {
	max-width: 1000px;
	margin: 20px auto;
	padding: 0 20px;
	flex: 1;
}

footer { text-align: center; }

code { font-size: 12pt; }

input[type=submit] {
	font-size: 14pt;
	padding: 10px 20px;
}

input[type=submit]:hover {
	background-color: #161616;
}

input[type=submit]:active {
	background-color: #0c0c0c;
}

textarea, input[type=submit] {
	border: 2px solid #55cf55;
	margin: auto;
	display: block;
}

.warning {
	background-color: #740000;
	padding: 20px;
	margin-bottom: 2em;
}
